body{
    background-image: url(https://bit.ly/2HtCkQO);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
h2{
    color:white;
    font-family: 'Berkshire Swash', cursive;
}
h1{
    font-family: 'Monoton', cursive;
    color:white;
    /* border-style: solid; */
    border-bottom-style: dotted;
}
