body{
    background-image: url(https://bit.ly/2OUMe1Q);
    background-repeat: no-repeat;
    background-size: cover;
    font-color:white;
}
h2{
    color:white;
    font-family: 'Berkshire Swash', cursive;
}